.appoint-btn:hover {
    color: #fff !important;
    background-color: #6e66f7 !important;
}

.btn:focus {
    box-shadow: none;
}

.form-control.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback>p {
    font-size: .8rem;
}
