.appoint-btn:hover {
    color: #fff !important;
    background-color: #6e66f7 !important;
}

.btn:focus {
    box-shadow: none;
}

.form-control.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback>p {
    font-size: .8rem;
}

.btn-clear {
    top: 1px;
    right: 1px;
    z-index: 100;
    position: absolute;
}

.form-control.is-invalid:not(:-internal-autofill-selected)~.btn-clear {
    right: 20px;
}

.select2-search__field {
    outline: none;
}

.vertical-align-middle {
    vertical-align: middle !important;
}
